.card-content{

  p{
    white-space: nowrap;
    font-size: .75rem;
    font-weight: bold;
  }
  .title {
    font-size: 1rem;
  }
  .release-date {
    font-weight: normal;
  }

  .card-action {
    .material-icons {
      vertical-align: bottom;
    }
  }
  .col {


// #2A7379
  }
}


.login-card{
  margin-top: 2rem;
  .login-btn-div {
    margin-bottom: 2rem;
    text-align: center;
  }
}
.hide {
  display: none;
}

.row {
  margin: 0 2rem;
}
