.card-content{

  p{
    white-space: nowrap;
    font-size: .75rem
  }
}
.login-card{
  margin-top: 2rem;
  .login-btn-div {
    margin-bottom: 2rem;
    text-align: center;
  }
}
.hide {
  display: none;
}

.row {
  margin: 0 2rem;
}
