.card-content{

  p{
    white-space: nowrap;
    font-size: .75rem
  }
}
.login-card{
  margin-top: 2rem;
  .login-btn-div {
    margin-bottom: 2rem;
    text-align: center;
  }
}
.hide {
  display: none;
}

.backdrop-poster {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        z-index: -1;
        display: block;
        will-change: opacity;
        filter: opacity(30%);
        transition: filter 1s;

  .backdrop-img {
    width: 100%;
  }
}
.row {
  margin: 0 2rem;
}
//featured-card
