.featured-card {
  p {
    white-space: normal;
    font-size: 1rem;
  }
  .card {
    position: static;
    background: none;
    color: #FFFFFF;
    .header {
      color: $color-teal;
      font-weight: bold;
    }
    .movie-title {
      letter-spacing: -2px;
    }
    .release-date {
      font-weight: bold;
    }
    .review-section {
        color: $color-teal;
        .vote-avg {
          font-size: 3rem;
        }
        .vote-text {
          font-size: 1rem;
          display: inline-block;
          margin-left: .8rem;
        }
    }
  }
  .featured-backdrop {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    display: block;
    background: black;

    .backdrop-img {
      height: 440px;
      width: 100%;
      display: block;
      filter: opacity(.2);

    }
  }

  .col {
    margin-top: 13px;
    width: 75%;
  }
  .card-link {
    position: relative;
    left: 1.7rem;
    border: 2px solid $color-teal;
    text-align: center;
    width: 12rem;
    a {
      color: #FFFFFF;
      text-decoration: none;
      font-weight: bold;
    }
  }




}
