.topic-parent:first-child {
  border-top: 1px solid black;
}

.topic-parent {
  border-bottom: 1px solid black;
  .topic-section{
    .plus-click {
      font-size: .75rem;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
      .topic {
        color: #2952a3;
        font-weight: bold;

      }
      .username {
        font-weight: bold;
      }
      .italic {
        font-weight: bold;
        font-style: italic;
      }
      .time {
        font-size: .75rem;
      }
      .review-body{

      }
    }

}
.thumbs {
  // display: inline;
}
