.topic-parent:first-child {
  border-top: 1px solid black;
}

.topic-parent {
  border-bottom: 1px solid black;
  .topic-section{
      .topic {
        color: #2952a3;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .username {
        font-weight: bold;
      }
      .time {
        font-size: .75rem;
      }
      .review-body{

      }
    }

}
